<div class="card">
  <div class="card-body">
    <h4 class="card-title"><%= @article.title %></h4>
    <% if @article.image.exists? %>
      <p><%= image_tag @article.image.url, class: "img-fluid" %></p>
    <% end %>
    <%= simple_format(@article.body) %>

    <p class="card-text">
      <% if @article.tags.size != 0 %>
        Tags:
        <% @article.tags.each do |tag| %>
          <u><%= link_to tag.name, tag_path(tag) %></u>
        <% end %>
      <% end %>
    </p>
      <%= link_to "<< Back to Articles List", articles_path, class: "card-link" %><br />

    <% if user_signed_in? %>
      <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Do you really want to delete this article?"}, class: "card-link" %><br />
      <%= link_to "Edit", edit_article_path(@article), class: "card-link" %>
    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Comments (<%= @article.comments.size %>)</h4>
      <%= render partial: 'comments/form' %>
      <%= render partial: 'articles/comment', collection: @article.comments.reverse %>
  </div>
</div>
